{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module",
      "project": "./tsconfig.json"
    },
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "rules": {
      // Add any custom rules here

      //"prettier/prettier": 2

    //   "@typescript-eslint/no-unused-vars": ["error"],
    //   "@typescript-eslint/no-explicit-any": "off",
    //   "@typescript-eslint/explicit-module-boundary-types": "off",
    //   "@typescript-eslint/no-non-null-assertion": "off",
    //   "prettier/prettier": ["error", {
    //   "endOfLine": "auto"
    //   }]

        "no-var": "error",
        "semi": "error",
        "quotes": ["error", "double"],
        "no-console": "warn",
        "max-len": ["error", { "code": 80 }]

    }
  }
  